# =========================================
# Global
# =========================================
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.DS_Store
*.env
.env.*
.venv
__pycache__/
*.py[cod]
*.pyo
*~


# =========================================
# Ansible
# =========================================
*.retry

# =========================================
# Docker
# =========================================
# Ignore local volumes and overrides
docker-compose.override.yml
*.pid
*.seed
*.pid.lock

# =========================================
# IDE / Editor
# =========================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================================
# OS
# =========================================
Thumbs.db
ehthumbs.db
.DS_Store
